.root {
  display: flex;
}

.content {
  width: calc(100vw - 300px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-x: auto;
}

.content.full {
  width: calc(100vw - 60px);
}

.profile {
  align-self: flex-end;
}
