.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media (width <=750px) {
  .form {
    width: 300px;
  }

  .form.expanded {
    width: 400px;
  }
}

@media (width <=650px) {
  .form {
    width: 250px;
  }
}

@media (width <=510px) {
  .form,
  .form.expanded {
    width: 400px;
  }

  .root {
    align-items: center;
  }
}

@media (width <=420px) {
  .form,
  .form.expanded {
    width: 350px;
  }

  .root {
    align-items: center;
  }
}
