node_modules
dist
build
coverage
.eslintcache
.cache
vite.config.js.map
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
pnpm-error.log
*.log
*.tmp
*.tmp.*
*.bak
*.bak.*
*.swp
*.swp.*
*.swo
*.swo.*
*.git
.gitignore
.dockerignore
Dockerfile
README.md
LICENSE
