.root {
  font-weight: 500;
  border: 1px solid transparent;
  background: transparent;
  color: var(--text-light);
  transition: all 0.15s ease-in;
  cursor: pointer;
}

.medium {
  height: 40px;
  padding: 9px 30px;
  border-radius: var(--border-r-m);
  font-size: 16px;
}

.small {
  height: 30px;
  padding: 5px 20px;
  border-radius: var(--border-r-s);
  font-size: 14px;
}

.solid {
  border-color: transparent;
}

.bordered {
  background-color: transparent;
}

.solid.primary {
  background-color: var(--color-accent);
}

.solid.primary:disabled {
  background-color: var(--color-gray-dark);
}

.bordered.primary {
  border-color: var(--color-accent);
  color: var(--color-accent);
}

.solid.secondary {
  background-color: var(--color-gray);
}

.bordered.secondary {
  border-color: var(--color-gray);
  color: var(--color-gray);
}

@media (hover: hover) {
  .solid.primary:hover {
    background-color: var(--color-accent-dark);
  }

  .solid.primary:disabled {
    background-color: var(--color-gray-dark);
  }

  .bordered.primary:hover {
    border-color: var(--color-accent-dark);
    color: var(--color-accent-dark);
  }

  .solid.secondary:hover {
    background-color: var(--color-gray-light);
  }

  .bordered.secondary:hover {
    border-color: var(--color-gray-light);
    color: var(--color-gray-light);
  }
}
