.root {
  position: relative;
}

.heading {
  cursor: pointer;
}

.title {
  color: var(--color-gray-light);
  font-size: 16px;
  font-weight: 500;
  transition: color 0.15s ease-in;
}

.priorities {
  width: 100px;
  padding: 10px;
  position: absolute;
  top: 30px;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--content-background);
  border-radius: var(--border-r-m);
  z-index: 10;
}

@media (hover: hover) {
  .title:hover {
    color: var(--text);
  }
}
