.root {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: var(--border-r-m);
  background: var(--content-background);
}

.completed .text {
  opacity: 0.5;
}

.title {
  padding-right: 25px;
  color: var(--text-light);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2;
}

.text {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.description {
  line-height: 1.1;
  font-size: 14px;
  font-weight: 400;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.options {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.options svg {
  width: 20px;
  height: 20px;
}

.options svg path {
  fill: var(--color-gray);
}

.popup {
  width: 200px;
  padding: 10px;
  position: absolute;
  top: 30px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: var(--popup-background);
  border-radius: var(--border-r-m);
  z-index: 2;
}

@media (hover: hover) {
  .root:hover .options {
    display: block;
  }

  .options:hover svg path {
    fill: var(--color-gray-light);
  }
}
