.root {
  padding-bottom: 10px;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tasks {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.add {
  background: transparent;
  border: none;
  color: var(--color-gray);
  cursor: pointer;
  transition: color 0.15s ease-in;
  align-self: flex-start;
}

@media (hover: hover) {
  .add:hover {
    color: var(--color-gray-light);
  }
}
