.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.tasks {
  min-height: 40px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
