.root {
  height: 100vh;
  width: 500px;
  padding: 20px;
  position: absolute;
  top: 0;
  right: 0;
  background: var(--popup-background);
  z-index: 10000;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
}

.title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
}

@media screen and (max-width: 510px) {
  .root {
    width: 340px;
  }
}
