.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  color: var(--text-light);
  font-size: 28px;
}

.settings {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

@media (width <=510px) {
  .settings {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }

  .tabs {
    margin: 0 auto;
  }
}
