.root {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 16px;
  font-weight: 500;
}

.popup {
  width: 200px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 34px;
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  background: var(--content-background);
  border-radius: var(--border-r-m);
  z-index: 10;
}

.tags {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
}

.tag {
  cursor: pointer;
}
