.root {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.popup {
  padding: 10px;
  position: absolute;
  top: 30px;
  display: flex;
  gap: 10px;
  background: var(--popup-background);
  border-radius: var(--border-r-m);
  z-index: 3;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.create {
  padding: 10px;
  position: absolute;
  top: 30px;
  right: 0;
  border-radius: var(--border-r-m);
  background: var(--popup-background);
  z-index: 0;
}

@media (width <=420px) {
  .root {
    width: 350px;
  }
}

@media (width <=380px) {
  .root {
    width: 330px;
  }
}
